
<p>Hello from ePetfolio</p>
<p>You have been invited to join the professional network of the dog walker <%= @invitation.invitor_email %></p>

<br />

<% if @invitation.existing_user.eql?('true') %>   <!-- if person is member already, then they have the app -->

    <!-- < %= link_to "Accept ePetfolio Invitation", "#{root_url}friendsfamily/#{@invitation.verify_email_token}" %> -->
    <%= link_to "Accept ePetfolio Invitation", "#{root_url}client_accepting_dogwalker_invitation/#{@invitation.verify_email_token}" %>

<% else %>  <!-- person is NOT member already, give them links to download the app -->
    <h2>Step #1 - Install the app on your mobile phone</h2>
    <p><%= link_to "Download the ePetfolio Pet Owner app for iPhone", "https://itunes.apple.com/us/app/petowner/id588784858?mt=8#" %></p>
    <p><%= link_to "Download the ePetfolio Pet Owner app for Android", "https://play.google.com/store/apps/details?id=com.epetfolio.PetOwner&feature=more_from_developer#?t=W251bGwsMSwyLDEwMiwiY29tLmVwZXRmb2xpby5QZXRPd25lciJd" %></p>
    <br />
    <h2>Step #2 - Accept the invitation by clicking the link below</h2>
    <p>Be sure to do this from your mobile phone</p>
    <p><%= link_to "Accept ePetfolio Invitation", 
           "#{root_url}client_accepting_dogwalker_invitation/#{@invitation.verify_email_token}" %></p>

<% end %>

<br /><br />


