<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active"><%= image_tag "sample_pet_photos/001.jpg" %></div>
    <div class="item"><%= image_tag "sample_pet_photos/002.jpg" %></div>
    <div class="item"><%= image_tag "sample_pet_photos/003.jpg" %></div>
    <div class="item"><%= image_tag "sample_pet_photos/004.png" %></div>
    <div class="item"><%= image_tag "sample_pet_photos/005.jpg" %></div>
    <div class="item"><%= image_tag "sample_pet_photos/006.jpg" %></div>
    <div class="item"><%= image_tag "sample_pet_photos/007.jpg" %></div>
    <div class="item"><%= image_tag "sample_pet_photos/008.png" %></div>
    <div class="item"><%= image_tag "sample_pet_photos/009.jpg" %></div>
    <div class="item"><%= image_tag "sample_pet_photos/010.jpg" %></div>
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
