

<div data-role="content">
    
    <div id="splash_carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active"><%= image_tag "splash_slides/one-1.png" %></div>
          <div class="item"><%= image_tag "splash_slides/two-1.png" %></div>
          <div class="item"><%= image_tag "splash_slides/three-1.png" %></div>
          <div class="item"><%= image_tag "splash_slides/four-1.png" %></div>
        </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#splash_carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#splash_carousel" data-slide="next">&rsaquo;</a>
    </div>
    <div class="row">
        <div class="span6 offset2">
            <%= render :partial => "shared/signup" %>
        </div>
    </div>

</div>  <!-- data-role="content" -->

