
<div data-role="content">
	<div class="row">
		<div class="span12">
	        <div id="splash-header"><h1>Two Mobile Apps &mdash; Doggie Report Cards</h1></div>
        </div>
    </div>
    <div class="row">
		<div class="span6">
		    <!-- <div class="row">
			    <div class="span6">
                    ePetfolio makes cell phone apps for pet owners and the animal health care industry
                </div>
            </div>
            <hr /> -->
            <div class="row">  <!-- thumbnails row -->
				<ul class="thumbnails">
					<li class="span3 thumbnail">
						<div class="small_gray_text">app #1</div><br />
						<a href="#">
							<%= image_tag "petowner-splash.png" %>
						</a>
					    <br /><br />
						<div class="center">For dog owners or dog lovers</div>
						<div class="center">&darr;</div>
					    <br />
					    <a href="#">
					        <%= image_tag "petowner-homepage-screenshot.png" %>
					    </a>
					</li>
					<li class="span3 thumbnail">
						<div class="small_gray_text">app #2</div><br />
					    <a href="#">
					        <%= image_tag "dogwalker-splash.png" %>
					    </a>
					    <br /><br />
						<div class="center">For independent dog walkers</div>
						<div class="center">&darr;</div>
					    <br />
					    <a href="#">
					        <%= image_tag "dogwalker-home-screenshot.png" %>
					    </a>
					</li>
				</ul>
	        </div>   <!-- end thumbnails row -->
			<hr />
			<div class="span6">
				<div class="row">
					<div class="span2"><a href="http://www.youtube.com/channel/UChdw-v3UUshH6ugfQFMDviA" >
						<%= image_tag "YouTube_logo_standard_white.png", :height => "40px" %></a>
					</div>
					<div class="span1 double_font_size">&harr;</div>
					<div class="span2">Screencast Tutorials</div>
				</div>
				<br />
				<div class="row">
					<div class="span2"><a href="https://play.google.com/store/search?q=pub:ePetfolio+LLC">
					  <img alt="Get it on Google Play"
					       src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
					</a></div>
					<div class="span1 double_font_size">&harr;</div>
					<div class="span2">Android/Samsung/Motorola/HTC</div>
				</div>
				<br />
			</div>
		</div>
		<div class="span6">
			<%= image_tag "dogwalk-mobile-view-verytall.png" %>
		</div>
	</div>

    <hr />
</div>  <!-- data-role="content" -->

