
<div data-role="content">
	<div class="row">
		<div class="span12">
	        <div id="splash-header"><h1>Dog Walk Report Cards</h1>Including Photos Verified By GPS</div>
        </div>
    </div>
    <div class="row">
	    <div class="span6">
		    <!-- <div class="row">
			    <div class="span6">
                    ePetfolio makes cell phone apps for pet owners and the animal health care industry
                </div>
            </div>
            <hr /> -->
            <div class="row">
	            <div class="span6 center">
	                <div class="two-heading">Two Cell Phone Apps</div>
		            <div class="more-coming">(Now in Beta Testing)</div>
		        </div>
		    </div>
            <!-- <div class="row"><div class="span6 center">< %= image_tag "two-arrows.png" %></div></div> -->
            <div class="row">  <!-- thumbnails row -->
				<ul class="thumbnails">
					<li class="span3 thumbnail">
	                    <div class="center"><h3>Pet Owner App</h3></div>
	                    <hr />
						<a href="#">
						    <%= image_tag "pet-owner-menu.png" %>
						</a>
					    <hr />
					    <div class="center">Download Android version
						    <a href="#" target="_blank">
						        <%= image_tag "google-play-badge.png", :class => "download-image" %></a>
						</div>
						<hr />
					    <div class="center">Download iPhone version
						    <a href="#" target="_blank">
						        <%= image_tag "apple-app-store-badge.jpeg", :class => "download-image" %></a>
						</div>
						<hr />
					    <div class="center">Download Blackberry version
						    <div>Coming Soon</div>
						    <!-- <a href="#" target="_blank">
						        <%= image_tag "BlackBerry-AppWorldBadge.jpg", :class => "download-image" %></a> -->
						</div>
					    <hr />
						
					</li>
					<li class="span3 thumbnail">
	                    <div class="center"><h3>Dog Walker App (Pro)</h3></div>
	                    <hr />
					    <a href="#">
					        <%= image_tag "dog-walker-menu.png" %>
					    </a>
					    <hr />
					    <div class="center">Download Android version
						    <a href="#" target="_blank">
						        <%= image_tag "google-play-badge.png", :class => "download-image" %></a>
						</div>
						<hr />
					    <div class="center">Download iPhone version
						    <a href="#" target="_blank">
						        <%= image_tag "apple-app-store-badge.jpeg", :class => "download-image" %></a>
						</div>
						<hr />
					    <div class="center">Download Blackberry version
                            <div>Coming Soon</div>
						    <!-- <a href="#" target="_blank">
						        < %= image_tag "BlackBerry-AppWorldBadge.jpg", :class => "download-image" %></a> -->
						</div>
					    <hr />
					</li>
				</ul>
	        </div>   <!-- end thumbnails row -->
            <div class="row">  <!-- why row -->
                <div class="span6 why">
	                <p><strong>Why?</strong><br /><br />
		                When a parent comes home from work, they ask their kid<br /> 
		                <strong>'How was school today?'</strong><br /><br />
		                When a dog owner comes home from work, they can't ask their dog 
		                <strong>'How was your dog walk today?'</strong><br /><br />
		                Lack of information leads to doubt and mistrust.<br />  
		                These ePetfolio apps help to increase the clarity and communication between
		                the dog walker and the dog owner. 
		            </p>
		        </div>
			</div>        <!-- end why row -->
            <div class="row">  <!-- beta row -->
                <div class="span6 beta">
	                <p><strong>Beta Testing?</strong><br /><br />
		                This mean that the ePetfolio apps are close to ready, but we have to field test
		                and tune them up.  Because dog walkers have to be hyper-alert to 
		                so many things in their proximity, they need
		                for the apps to be super fast and responsive.<br /><br />  
		                Another important test is to try the ePetfolio apps on different smartphones 
		                and network connections.  Not everybody can afford to buy
		                the latest and greatest smartphone technology.  So we want to be sure that 
		                the apps run well on "mature" hardware. 
		            </p>
		        </div>
			</div>        <!-- end beta row -->
            <div class="row">  <!-- moreapps row -->
                <div class="span6 moreapps">
	                <p><strong>More Apps Coming?</strong><br /><br />
		                Yep!  We have some additional ideas for apps in the 
		                animal health care industry.  But we would like to hear
		                your suggestions.  Go to our Facebook page and tell us what
		                you think.  Or Tweet your app idea and include our handle @epetfolio
		                and/or the hash tag #epetapp
		            </p>
		        </div>
			</div>        <!-- end moreapps row -->

		</div>
		<div class="span6">
			<%= image_tag "test-report-card-5.png" %>
		</div>
	</div>

    <hr />
</div>  <!-- data-role="content" -->

