
<div data-role="content">	
	<div class="row">
		<div class="span12">
	        <div id="splash-header"><h1>Dog Walk Report Cards</h1>Including Photos Verified By GPS</div>
        </div>
    </div>
	<div class="row" id="splash-body">
	    <div class="span3"><%= image_tag "splash_slides/reportcard-1.png" %></div>
	    <div class="span3"><%= image_tag "splash_slides/reportcard-2.png" %></div>
	    <div class="span3"><%= image_tag "splash_slides/reportcard-3.png" %></div>
	    <div class="span3"><%= image_tag "splash_slides/reportcard-4.png" %></div>
    </div>

    <hr />
    <div class="row" id="splash-body-two">
        <div class="span2" id="avoid_dw_scams_div">
  	        <a href="welcome/dwguide" id="avoid_dw_scams">Avoid<br />Dog Walker<br />Scams<br><span id="freeguide">Free Guide</span></a>
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span2 splash-jewels" >
  	        iPhone App
            <a href="#"><%= image_tag "apple-app-store-badge.jpeg" %></a>
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span2 splash-jewels" >
  	        Android App
            <a href="#"><%= image_tag "google-play-badge.png" %></a>
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span2 splash-jewels" >
  	        Blackberry App
            <a href="#"><%= image_tag "BlackBerry-AppWorldBadge.jpg" %></a>
        </div>

    </div>
</div>  <!-- data-role="content" -->

